04_Other/Fabric Testing/Testing 2/Fabric/02_SNOW/load_time_cards.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "typeProperties": {
              "table": "Dates"
            },
            "schema": [],
            "linkedService": {
              "name": "FinanceCE",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "9f7dc6b5-591b-a6eb-47a0-6c4212187422",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "lookup_dates",
        "dependsOn": [
          {
            "activity": "time_card_delete_rows",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "batchCount": 5,
          "items": {
            "value": "@activity('lookup_dates').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "RefreshDataflow",
              "typeProperties": {
                "dataflowId": "c850f6bc-a080-94bd-4b77-879fcd5c7fb3",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "notifyOption": "NoNotification",
                "dataflowType": "DataflowFabric",
                "parameters": {
                  "DateWeek": {
                    "value": {
                      "value": "@item().date",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.20:00:00",
                "retry": 3,
                "retryIntervalInSeconds": 180,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "time_card_a",
              "dependsOn": []
            },
            {
              "type": "RefreshDataflow",
              "typeProperties": {
                "dataflowId": "c0ca7fcf-ef5a-95bf-4fe3-5e0cdb15d4a9",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "notifyOption": "NoNotification",
                "dataflowType": "DataflowFabric",
                "parameters": {
                  "DateWeek": {
                    "value": {
                      "value": "@item().date",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.20:00:00",
                "retry": 3,
                "retryIntervalInSeconds": 180,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "time_card_b",
              "dependsOn": [
                {
                  "activity": "time_card_a",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "RefreshDataflow",
              "typeProperties": {
                "dataflowId": "0b82aa98-7c88-8e74-4a0f-61fff126f6d2",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "notifyOption": "NoNotification",
                "dataflowType": "DataflowFabric",
                "parameters": {
                  "DateWeek": {
                    "value": {
                      "value": "@item().date",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.20:00:00",
                "retry": 3,
                "retryIntervalInSeconds": 180,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "time_card_c",
              "dependsOn": [
                {
                  "activity": "time_card_b",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ]
        },
        "name": "ForEach1",
        "dependsOn": [
          {
            "activity": "lookup_dates",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      },
      {
        "type": "RefreshDataflow",
        "typeProperties": {
          "dataflowId": "06d5308f-1aee-8985-431d-429b8eaadcb8",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "notifyOption": "NoNotification",
          "dataflowType": "DataflowFabric",
          "parameters": {
            "DateWeek": {
              "value": "2025-12-28",
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "time_card_delete_rows",
        "dependsOn": []
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "typeProperties": {
              "table": "Dates"
            },
            "schema": [],
            "linkedService": {
              "name": "FinanceCE",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "9f7dc6b5-591b-a6eb-47a0-6c4212187422",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "annotations": []
              }
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup1",
        "dependsOn": []
      }
    ]
  }
}